opencv-python-headless>=4.13.0
numpy>=2.4.2
pillow==11.3.0
pytesseract==0.3.13
fastapi==0.129.0
uvicorn[standard]==0.40.0
python-multipart==0.0.22
python-dotenv
pyserial==3.5
pandas
openpyxl
scikit-learn==1.8.0
scipy==1.17.0
tqdm
ijson
easyocr
torch
torchvision
pytest
notebook
faiss-cpu
sentence-transformers
